@import './theme.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
}

button {
  cursor: pointer;
  font: inherit;
  background: none;
  border: none;
}
